@font-face {
  font-family: "Helvetica Neue Pro";
  src: url("../assets/fonts/HelveticaNeueLTProBd.otf") format("opentype");
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../assets/fonts/OpenSans-Light.ttf") format("truetype");
}