.footer {
  width: 100%;
  padding: 50px 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  display: flex;
  justify-content: center;

  div {
    border-top: 2px solid #9ec2c6;
    width: auto;
    margin: 0 auto;
    padding: 10px 20px;
  }
}